menu "DHT20 Setup"
    config DHT20_SENSOR_ENABLED
        bool "Enable DHT20 Temperature and Humidity sensor."
        depends on TOOLBOX_ENABLED

    if DHT20_SENSOR_ENABLED
        config I2C_ADDRESS
            hex "DHT20 I2C Address"
            default 0x38
    endif
endmenu