menu "DHT20 Setup"
    config DHT20_SENSOR_ENABLED
        bool "Enable DHT20 Temperature and Humidity sensor."
        depends on TOOLBOX_ENABLED

    if DHT20_SENSOR_ENABLED
        config I2C_ADDRESS
            hex "DHT20 I2C Address"
            default 0x38

        config FIR_FILTER_ENABLE
            bool "Enable averaging filter"
            default false
            help 
                "When enabled the averaged results of temperature and humidity are stored in the struct as well
                and accessible through dht20_data_t->temp_avg , dht20_data_t->humid_avg"
    endif
endmenu